<!DOCTYPE html>
<html lang='es-Es'>
  <head>
   <meta charset='utf-8'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="__site">
    	<h1><%= title %></h1>
    </div><!-- __site -->
  </body>
</html>
