@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background: rgb(18, 130, 157);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

a {
  color: #00B7FF;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
}